{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
  {% set icon %}
    <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAQAAADVGmdYAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffAxkBCDStonIVAAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAAHpJREFUOMtj3PWfgXRAuqZd/5nIsIdhVBPFmgqIjCuYOrJsYtz1fxuUOYER2TQID8afwIiQ8YIkI4TzCv5D2AgaWSuExJKMIDbA7EEVhQEWXJ6FKUY4D48m7HYU/EcWZ8JlE6qfMELPDcUJuEMPxvYazYTDWRMjOcUyAEswO+VjeQQaAAAAAElFTkSuQmCC" alt=""/></span>
    <span class="sf-toolbar-status">
      {{ collector.apiCalls | length }}
    </span>
    api calls
  {% endset %}
  {% set text %}
    <div class="sf-toolbar-info-piece">
      {% if collector.deliveryDisabled == true %}
        Delivery Disabled
      {% else %}
        Delivery Enabled
      {% endif %}
    </div>
  {% endset %}

  {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block menu %}
  <span class="label">
    <strong>IMASYS MESSAGE SENDER</strong>
  </span>
{% endblock %}

{% block panel %}
  {% if collector.apiCalls is empty %}
    <span>No requests</span>
  {% else %}
    {% for apiCall in collector.apiCalls %}
      <h2>{{ class(apiCall.request) }}</h2>
      <table>
        <tbody>
          {% for key,value in apiCall.request.debugData %}
            <tr>
              <th>{{ key }}</th>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>{{ class(apiCall.response) }}</h2>
      <table>
        <tbody>
          {% for key,value in apiCall.response.debugData %}
            <tr>
              <th>{{ key }}</th>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr />
    {% endfor %}
  {% endif %}
{% endblock %}